<div class="container mt-3">
        <div class="row">
          <div class="col-md-8">
              <h2 class="mb-3">Tambah Kontak</h2>
              <form id="tambah-kontak" method="post" action="/users/add">
                    <div class="mb-3">
                      <label for="nama" class="form-label">Nama</label>
                      <input type="text" class="form-control" id="nama" name="nama" required>
                    </div>
                    <div class="mb-3">
                      <label for="email" class="form-label">Email</label>
                      <input type="email" class="form-control" id="email" name="email" required>
                    </div>
                    <div class="mb-3">
                      <label for="nohp" class="form-label">No HP</label>
                      <input type="text" class="form-control" id="nohp" name="nohp" required>
                    </div>
                    <button type="submit" class="btn btn-primary" data-bs-toggle="modal">Tambah Kontak</button>
                  </form>
          </div>
        </div>
    </div>
      


