<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Test Index</h1>
    <p>Lorem Ipsum Dolor</p>
    <a href="<%= GENERATED_GOOGLE_URL %>">Login with Google</a>
  </body>
</html>
