<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Test Index</h1>
    <p>Lorem Ipsum Dolor</p>
  </body>
</html>
