<div class="container mt-3">
  <div class="row">
    <div class="col-md-8">
        <h1>Hi!</h1><br>
        <p>Silahkan login terlebih dahulu</p>
        <a href="<%= authurl %>">Login with Google</a>
    </div>
  </div>
</div>