<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='css/style.css' />
  </head>
  <body>
    <h3>Halo <%= user %></h3>
    <p>Kode : <%= authcode %> </p>
    <p>Token : <%= token %> </p>
  </body>
</html>